
#container {
  width: 250px;
  height: 250px;
}

.cell {
  width: 25px;
  height: 25px;
  float: left;
  margin: 2px;
}

.on {
  background: #000;
}

.off {
  background: #eee;
}

#output {
  height: 260px;
}

#main {
  margin: 20px 50px;
}







